.profile-avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.user-name {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
}

.logout-button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: var(--ion-color-danger);
}